#content {
  margin-left: auto;
  margin-right: auto;
  width: 650px;
}

#greeting-container {
  margin-top: 20px;
}

/* Set height of body and the document to 100% to enable "full page tabs" */
body,
html {
  height: max-content;
  margin: 0;
  font-family: Arial;
}

/* Style tab links */
.tablink {
  background-color: #555;
  color: white;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  font-size: 17px;
  width: 25%;
}

.tablink:hover {
  background-color: #777;
}

/* Style the tab content (and add height:100% for full page content) */
.tabcontent {
  color: white;
  display: none;
  padding: 100px 20px;
  height: 100%;
  width: 100%;
}

#AboutMe {
  background-color: #4d6d94;
}
#Home {
  background-color: #86b3d1;
}
#Projects {
  background-color: #99ced3;
}
#Gallery {
  background-color: #edb5bf;
}

.row {
  display: flex;
}

.column {
  flex: 50%;
  padding: 10px;
  align-content: center;
}

@media screen and (max-width: 600px) {
  .column {
    width: 100%;
    display: block;
    margin-bottom: 20px;
  }
}

* {
  box-sizing: border-box;
  text-align: center;
}

figure {
  width: 100%; /*container-width*/
  height: 100%;
  overflow: hidden; /*hide bounds of image */
  margin: 0; /*reset margin of figure tag*/
  align-content: center;
}
figure img {
  display: block; /*remove inline-block spaces*/
  width: 500px; /*make image streatch*/
  height: auto;
  margin: -15% 0;
}
.container {
  position: relative;
  width: 500px;
  height: 100%;
}

/* Make the image to responsive */
.image {
  display: block;
  width: 100%;
  height: auto;
}

/* The overlay effect - lays on top of the container and over the image */
.overlay {
  position: absolute;
  bottom: 0%;
  background: rgb(0, 0, 0);
  background: rgba(0, 0, 0, 0.5); /* Black see-through */
  width: 100%;
  transition: 0.5s ease;
  opacity: 0;
  color: white;
  font-size: 20px;
  padding: 20px;
  text-align: center;
}

/* When you mouse over the container, fade in the overlay title */
.container:hover .overlay {
  opacity: 1;
}

.portfolioText {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  width: 100%;
  font-size: 16px;
}

.container2 {
  padding: 2px 16px;
  font-size: 16px;
}

div.container2 {
  font-size: 20px;
}

.portfolioTBtn {
  border-color: #e7e7e7;
  color: #4d6d94;
  background: white;
  padding: 15px 32px;
  font-size: 16px;
  margin: 4px 2px;
}

.portfolioTBtn:hover {
  background: #e7e7e7;
}
/* Position the image container (needed to position the left and right arrows) */
.container3 {
  position: relative;
}

/* Hide the images by default */
.mySlides {
  display: none;
}

/* Add a pointer when hovering over the thumbnail images */
.cursor {
  cursor: pointer;
}

/* Next & previous buttons */
.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 40%;
  width: auto;
  padding: 16px;
  margin-top: -50px;
  color: white;
  font-weight: bold;
  font-size: 20px;
  border-radius: 0 3px 3px 0;
  user-select: none;
  -webkit-user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* Container for image text */
.caption-container {
  text-align: center;
  background-color: #222;
  padding: 2px 16px;
  color: white;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Six columns side by side */
.column {
  float: left;
  width: 16.66%;
}

/* Add a transparency effect for thumnbail images */
.demo {
  opacity: 0.6;
}

.active,
.demo:hover {
  opacity: 1;
}
