/* Set height of body and the document to 100% to enable "full page tabs" */
body,
html {
  height: max-content;
  margin: 0;
  font-family: Arial;
}

/* Style tab links */
.tablink {
  background-color: #555;
  color: white;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 20px;
  font-size: 25px;
  text-align: center;
  width: 33.33333%;
}

.tablink:hover {
  background-color: #777;
}

/* Style the tab content (and add height:100% for full page content) */
.tabcontent {
  color: white;
  display: none;
  padding: 100px 20px;
  height: 100%;
  text-align: center;
  width: 100%;
}

#AboutMe {
  background-color: #4d6d94;
}
#Home {
  background-color: #86b3d1;
}
#Projects {
  background-color: #8b7dad;
}

.row {
  display: flex;
}

.column {
  flex: 50%;
  padding: 10px;
  align-content: center;
}

.column2 {
  flex: 50%;
  padding: 25px;
  align-content: center;
  float: left;
}

/* @media screen and (max-width: 600px) {
  .column {
    width: 100%;
    display: block;
    margin-bottom: 20px;
  }
} */

* {
  box-sizing: border-box;
  /* text-align: center; */
}

figure {
  width: 100%; /*container-width*/
  height: 100%;
  overflow: hidden; /*hide bounds of image */
  margin: 0; /*reset margin of figure tag*/
  align-content: center;
}

figure img {
  display: block; /*remove inline-block spaces*/
  width: 500px; /*make image streatch*/
  height: auto;
  margin: -15% 0;
  text-align: center;
}

.container {
  position: relative;
  width: 500px;
  height: 100%;
  text-align: center;
  margin-left: 100px;
  margin-right: 100px;
}

/* Make the image to responsive */
.image {
  display: block;
  width: 100%;
  height: auto;
}

/* The overlay effect - lays on top of the container and over the image */
.overlay {
  position: absolute;
  bottom: 0%;
  background: rgb(0, 0, 0);
  background: rgba(0, 0, 0, 0.5); /* Black see-through */
  width: 100%;
  transition: 0.5s ease;
  opacity: 0;
  color: white;
  font-size: 20px;
  padding: 20px;
  text-align: center;
}

/* When you mouse over the container, fade in the overlay title */
.container:hover .overlay {
  opacity: 1;
}

.portfolioText {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  width: 100%;
  font-size: 16px;
  text-align: center;
}

.portfolioText2 {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  width: 100%;
  font-size: 16px;
  text-align: left;
}

.container2 {
  padding: 2px 16px;
  font-size: 16px;
  /* text-align: center; */
}

div.container2 {
  font-size: 20px;
}

.portfolioTBtn {
  border-color: #e7e7e7;
  color: #4d6d94;
  background: white;
  padding: 15px 32px;
  font-size: 16px;
  margin: 4px 2px;
  text-align: center;
}

.portfolioTBtn:hover {
  background: #e7e7e7;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

/* two columns side by side */
.column {
  float: left;
  width: 16.66%;
}

/* Add a transparency effect for thumnbail images */
.demo {
  opacity: 0.6;
}

.active,
.demo:hover {
  opacity: 1;
}

.containerAboutMe {
  padding: 64px;
}

div.a {
  text-align: center;
}

#random-image-container {
  width: 400px;
  object-fit: contain;
}

/* Column container */
.rowP {
  display: -ms-flexbox; /* IE10 */
  display: flex;
  -ms-flex-wrap: wrap; /* IE10 */
  flex-wrap: wrap;
}

/* Create two unequal columns that sits next to each other */
/* Sidebar/left column */
.sideP {
  -ms-flex: 30%; /* IE10 */
  flex: 30%;
  background-color: darkslateblue;
  padding: 20px;
}

/* Main column */
.main {
  -ms-flex: 70%; /* IE10 */
  flex: 70%;
  border-style: solid;
  border-width: 5px;
  border-color: white;
  /* background-color: white; */
  padding: 20px;
}

/* Fake image, just for this example */
.fakeimgP {
  background-color: lightcyan;
  width: 100%;
  padding: 20px;
}

/* Responsive layout - when the screen is less than 700px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 700px) {
  .rowP {
    flex-direction: column;
  }
}

.flex-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.flex-container > div {
  margin: 10px;
  width: 300px;
}

#task-list {
  list-style-type: none;
}

.task {
  border: thin solid white;
  display: flex;
  margin: 10px;
  padding: 10px;
  font-size: 16px;
}

.task span {
  flex-grow: 1;
}